html {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid red;
  padding: 5px;
}

p.logo, .section2elements {
  float: left;
}

ul.menu {
  float: right;
}

.menu li {
  float: left;
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0px;
}

/*
.submenu {
  clear: both;
  position: relative;
  width: 130px
}
*/
span {
  color: #4BC3A9;
}

.firstSection {
  background-image: -webkit-linear-gradient(top, #eeeeee 43%,#cccccc 78%);;
}

.section1 div {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.slider {
  font-size: 50px;
  display: block;
  margin-top: 120px;
  color: #4BC3A9;
}

.chair {
  width: 40%;
}

div.chair {
  position: relative;
}

h1 {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
}

p.nextToChair {
  text-align: center;
  overflow: auto;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  position: absolute;
  left: 100px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #4BC3A9;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.slider.right {
  padding-left: 150px;
  width: 15%;
}

.slider.left {
  width: 5%;
}

.section2 {
  padding: 5px;
}
.section2elements {
  margin-right: 40px;
}

.section2elements:last-child {
  margin-right: 0;
  width: 440px;
  border: 1px solid grey;
  padding-left: 10px;
}

h2 {
  font-size: 20px;
  padding: 15px;
  margin-top: 5px;
  text-decoration: underline;
}

p.nextToImgs {
  line-height: 1.5;
  padding: 15px;
}
