@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('..fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: Raleway, sans-serif;
}

/* HEADER */

header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid red;
  padding: 5px;
}

p.logo, .section2elements, .plan {
  float: left;
}

ul.menu {
  float: right;
  position: relative;
}

.menu li {
  float: left;
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.submenu {
  clear: both;
  position: absolute;
  top: 50px;
  left: 1070px;
  width: 120px;
  color: white;
  line-height: 1.5;
  background-color: black;
  padding: 10px;
  text-transform: none;
  font-family: 'ralewayregular', sans-serif;
}

.arrow {
  position: absolute;
  top: 42px;
  left: 1105px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}

.menu li:first-child {
}

span {
  color: #4BC3A9;
  font-weight: bold;
}

/* SECTION 1 */

.firstSection {
  background-image: -webkit-linear-gradient(top, #eeeeee 43%,#cccccc 78%);
  padding: 80px;
}

.section1 div {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.slider {
  font-size: 60px;
  display: block;
  margin-top: 140px;
  color: #4BC3A9;
}

.slider > a {
  color: #4BC3A9;
}

.chair {
  width: 40%;
}

div.chair {
  position: relative;
}

h1 {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
}

p.nextToChair {
  text-align: center;
  overflow: auto;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 10px;
}

.button1 {
  position: absolute;
  left: 100px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #4BC3A9;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.slider.right {
  padding-left: 150px;
  width: 15%;
}

.slider.left {
  width: 5%;
}

/* SECTION 2 */

.section2 {
  padding: 5px;
  margin-top: 20px;
  padding-bottom: 80px;
}
.section2elements {
  margin-right: 100px;
  position: relative;
}

.section2elements:last-child {
  margin-right: 0;
  width: 329px;
  border: 1px solid grey;
  padding-left: 10px;
}

h2 {
  font-size: 20px;
  padding: 15px;
  margin-top: 5px;
  position: relative;
  font-weight: bold;
}

h2::after {
  content: '';
  width: 150px;
  position: absolute;
  bottom: 8px;
  left: 15px;
  right: 0;
  border: 3.5px solid #4BC3A9;
}

p.nextToImgs {
  line-height: 1.5;
  padding: 15px;
}

.clair {
  position: absolute;
  bottom: 20px;
  width: 329px;
  padding: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
}

.clair::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 180px;
  border: 3.5px solid #4BC3A9;
  width: 135px;
}

/* SECTION 3 */

.section3 {
  background-color: #F1F1F1;
}

p.price {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  margin-bottom: 80px;
}

.price::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 10px;
  width: 330px;
  border: 3.5px solid #4BC3A9;
  
}

.plan {
  border: 1px solid grey;
  width: 329px;
  height: 508px;
  position: relative;
  margin-right: 100px;
  background-color: #F9F9F9;
  position: relative;
}

.plan:last-child {
  margin-right: 0;
}

.topCircle {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  position: relative;
  left: 43%;
  bottom: 30px;
  border-radius: 50px;
}

.lilCircle {
  background-color: grey; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 12px;
}

.basicPlan {
  text-align: center;
  color: #4BC3A9;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 50px;
  
  font-size: 23px;
}

.bigCircle {
  position: relative;
  left: 31%;
  width: 130px;
  height: 130px;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
}
.bigCircle>span {
  font-size: 40px;
  position: relative;
  top: 40px;
  color: grey;
}

.bigCircle>sup {
  font-size: 15px;
  font-weight: bold;
  color: grey;
  position: relative;
  top: 15px;
}

.pln {
  font-size: 15px !important;
}

.options {
  text-align: center;
  line-height: 2;
  color: grey;
  font-size: 20px;
}

.options:nth-child(2n+1) {
  background-color: #E4E4E4;
}

.options:nth-child(even) {
  background-color: #F1F1F1;
}

.button2 {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  margin-left: 95px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 30px 5px 30px;
  color: white;
  background-color: #4BC3A9
}

/* SECTION 4 */

.section4 {
  margin-top: 5px;
  
}

form {
  display: inline-block;
  margin-left: 5px;
  width: 700px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 700px;
}

.price.contact {
  margin-top: 10px;
  margin-bottom: 30px;
}

textarea {
  padding: 10px;
  width: 700px;
}

::-webkit-input-placeholder {
  color: #D3C2EB;
  font-size: 20px;
}