@import "partials/reset";
@import "partials/variables";
@import "partials/header";
@import "partials/section1";
@import "partials/section2";
@import "partials/section3";
@import "partials/calculator";
@import "partials/section4";
@import "partials/footer";

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('..fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: "ralewayregular", sans-serif;
}










