/* SECTION 1 */

.firstSection {
  background-image: -webkit-linear-gradient(top, #eeeeee 43%,#cccccc 78%);
  padding: 80px;
}

.section1 div {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.slider {
  font-size: 60px;
  display: block;
  margin-top: 140px;
  @include scale 
}

.slider > a {
  color: $mint;
  text-decoration: none;
}

.chair {
  width: 40%;
}

div.chair {
  position: relative;
}

h1 {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
}

p.nextToChair {
  text-align: center;
  overflow: auto;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 10px;
}

.button1 {
  position: absolute;
  left: 100px;
  text-transform: uppercase;
  font-size: 25px;
  @include button-font
  margin-top: 20px;
  border-radius: 10px;
  background-color: $mint;
  color: $color-header;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  @include scale
}

.slider.right {
  padding-left: 150px;
  width: 15%;
}

.slider.left {
  width: 5%;
}

.slide {
  ul {
    list-style: none;
      li {
        display: none;
    }
  }
}

.slide .visible {
  display: inline-block;
}
